<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/theme.css">
	
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Marinela Coclli</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
					<li class="nav-item "><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					
					<h1>Welcome to the HTML Demo page!</h1>

					<section>
						<h2>Tables</h2>
						<caption>Table 1</caption>
						<table border="1">
							<thead>
								<tr>
									<th> Date </th>
									<th> Test </th>
									<th> Room </th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td> 3/10/2023 </td>
									<td> T1 </td>
									<td> 562 </td>
								</tr>
								<tr>
									<td> 6/15/2023 </td>
									<td> T2 </td>
									<td> 664 </td>
								</tr>
								<tr>
									<td> 6/30/2023 </td>
									<td> T3 </td>
									<td> 562 </td>
								</tr>
							</tbody>
						</table>
						<caption>Table 2</caption>
						<table border="2">
							
							<thead>
								<tr>
									<th rowspan="2">Web700</th>
									<th colspan="2">Thursday</th>
								</tr>
								<tr>
									<th>Lessons</th>
									<th>Labs</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Week1</td>
									<td>Notes1</td>
									<td>Assignment1</td>
								</tr>
								<tr>
									<td>Week2</td>
									<td>Notes2</td>
									<td>Assignment2</td>
								</tr>
								<tr>
									<td>Week3</td>
									<td>notes3</td>
									<td>Assignment3</td>
								</tr>
							</tbody>
						</table>
				
						<p>This section demonstrates the usage of HTML tables. The tables showcase different elements and properties, such as captions, thead, tbody, tfoot, th, td, tr, rowspan, and colspan.</p>
					</section>
				
					<section>
						<h2>BTT course structure</h2>
						<ol>
							<li>Microsoft
							  <ul>
								<li>OSM720</li>
								<li>OSM740</li>
							  </ul>
							  </li>
							<li>Linux</li>
							<li>Programing
								<ul>
									<li>Prg600</li>
									<li>web700</li>
									<li>Java</li>
								</ul>
							</li>
							<li>Networking</li>
							<li>Database</li>
						</ol>
				
						<p>This section demonstrates the usage of HTML lists. It includes an unordered list with nested orderd list items.</p>
					</section>
				
					<section>
						<h2>Images</h2>
						<img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="Image 1" height="200px">
						<img src="https://web700.ca/media/source-code.jpg" alt="Image 2" height="200px">
						<img src="https://download.logo.wine/logo/Seneca_College/Seneca_College-Logo.wine.png" alt="Image 3" height="200px">
				
						<p>This section showcases the usage of images with alt text..</p>
					</section>
				
					<section>
						<h2>Audio</h2>
						<audio controls>
							<source src="https://file-examples.com/storage/fefb234bc0648a3e7a1a47d/2017/11/file_example_MP3_700KB.mp3" type="audio/mpeg">
							<source src="https://file-examples.com/storage/fefb234bc0648a3e7a1a47d/2017/11/file_example_MP3_700KB.ogg" type="audio/ogg">
							Your browser does not support the audio element.
						</audio>
				
						<p>This section includes an HTML5 audio player.</p>
					</section>
				
					<section>
						<h2>Video</h2>
						<video controls>
							<source src="https://v2.cdnpk.net/videvo_files/video/premium/partners0313/large_watermarked/BB_91e276a1-f5de-4229-b0aa-f6d4c25a95d4_FPpreview.mp4" type="video/mp4">
							<source src="https://v2.cdnpk.net/videvo_files/video/premium/partners0313/large_watermarked/BB_91e276a1-f5de-4229-b0aa-f6d4c25a95d4_FPpreview.ogg"  type="video/ogg">
							Your browser does not support the video element.
						</video>
				
						<p>This section includes an HTML5 video player.</p>
					</section>
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>